files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGejCCBWKgAwIBAgIRAL+xfwFkPr6AtgdMhCC3FaEwDQYJKoZIhvcNAQELBQAw
      gY8xCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
      BgNVBAcTB1NhbGZvcmQxGDAWBgNVBAoTD1NlY3RpZ28gTGltaXRlZDE3MDUGA1UE
      AxMuU2VjdGlnbyBSU0EgRG9tYWluIFZhbGlkYXRpb24gU2VjdXJlIFNlcnZlciBD
      QTAeFw0xOTA1MjIwMDAwMDBaFw0yMTA1MjEyMzU5NTlaMFcxITAfBgNVBAsTGERv
      bWFpbiBDb250cm9sIFZhbGlkYXRlZDEUMBIGA1UECxMLUG9zaXRpdmVTU0wxHDAa
      BgNVBAMTE3d3dy5ncmFtcnBob25lLmxpdmUwggEiMA0GCSqGSIb3DQEBAQUAA4IB
      DwAwggEKAoIBAQC4qfzR2HzCK2BcBbjxa+L5zI+ENXNawpqOvDpk9SwqxdzdjiSU
      iaVoqZhtD9w5aBSP/UZYSGM3hXi9ReOs1QWhv1fQGJQGvwafHQmVUJOFbbYlSYZe
      tDXF1pypBIIAMNP3bNkCE9B4YoFlY5D7Uk7SWMy8vO1r368E4TBDEoXXDWSeuimA
      i1fiAXM8VELlVzQ41k2rozyPJOQY03gUhdly22RvpoPicbNAVxiy25+ZwJ0s2Bab
      QZa2gdUkP14Twidy2JDFfWe+nDOW56cBXcPq66IlsoanP+YNHjKbE9zr33WuHx6D
      m5kcE1Or0m3F6hc3AygwQZuieAQwbi2+PS59AgMBAAGjggMGMIIDAjAfBgNVHSME
      GDAWgBSNjF7EVK2K4Xfpm/mbBeG4AY1h4TAdBgNVHQ4EFgQUrd4+Mm1iAp+sUNpD
      MwQ2ruCfdXkwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYw
      FAYIKwYBBQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYLKwYBBAGyMQECAgcw
      JTAjBggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9DUFMwCAYGZ4EMAQIB
      MIGEBggrBgEFBQcBAQR4MHYwTwYIKwYBBQUHMAKGQ2h0dHA6Ly9jcnQuc2VjdGln
      by5jb20vU2VjdGlnb1JTQURvbWFpblZhbGlkYXRpb25TZWN1cmVTZXJ2ZXJDQS5j
      cnQwIwYIKwYBBQUHMAGGF2h0dHA6Ly9vY3NwLnNlY3RpZ28uY29tMC8GA1UdEQQo
      MCaCE3d3dy5ncmFtcnBob25lLmxpdmWCD2dyYW1ycGhvbmUubGl2ZTCCAX4GCisG
      AQQB1nkCBAIEggFuBIIBagFoAHcAu9nfvB+KcbWTlCOXqpJ7RzhXlQqrUugakJZk
      No4e0YUAAAFq4FNx4QAABAMASDBGAiEA5TsZ/W89Fg+4EbfsAeM/f5UL2xR7zbIh
      qmnxcynYDkoCIQDc+bl9iM+XiygFdImT1h3CZRRy9xAAav30Cw4qy62JVQB2AESU
      ZS6w7s6vxEAH2Kj+KMDa5oK+2MsxtT/TM5a1toGoAAABauBTchEAAAQDAEcwRQIh
      AJDDdLPIg47a7s7kjsudiBAEyLX3v3qFSVVhPnPnOz0KAiBBrqP52EsRkgEqpCN6
      73GXgw085q65aUabK3F1l6O7hwB1AG9Tdqwx8DEZ2JkApFEV/3cVHBHZAsEAKQaN
      sgiaN9kTAAABauBTcqkAAAQDAEYwRAIgUmgpL3RVK3eRGoDCei3BimmBZSMqUNrx
      1jCJuE2OPmYCIEs+jVQqEmvNB/NemAEdos1rcU6lBAYWoIxagDCSZZj5MA0GCSqG
      SIb3DQEBCwUAA4IBAQAflY6LSWrf7oHozU/M23A3JiOC4o0IQASO1MfM1zaPUiUG
      Lf26kzDZ1y5eRCM3mGZTVQsna+9HXR30IjXXfT2+fympH/Bg2ShXBr/Sdp0gph9Q
      OZKEFDKPs3qvgF6HSpmRbcYdlzVtvUe/cnboR9sIkouOx6PXe4O9QZE33635usmv
      OCIg1099Uk29RCME2pnezurpoOoFgOisWjSQjhFeVwj3+eVpz/gjNwkm3gT0FvGr
      040W2wbhwIZ5GZhjxweKAQNKrLdzWC91ZyxacY+0jnIAWVEX8UB8Db7r7GfoDV3n
      Yehxx+nWYiXIvgQdBaA+5Trft+kY7Lhno/8U/Qiu
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAuKn80dh8witgXAW48Wvi+cyPhDVzWsKajrw6ZPUsKsXc3Y4k
      lImlaKmYbQ/cOWgUj/1GWEhjN4V4vUXjrNUFob9X0BiUBr8Gnx0JlVCThW22JUmG
      XrQ1xdacqQSCADDT92zZAhPQeGKBZWOQ+1JO0ljMvLzta9+vBOEwQxKF1w1knrop
      gItX4gFzPFRC5Vc0ONZNq6M8jyTkGNN4FIXZcttkb6aD4nGzQFcYstufmcCdLNgW
      m0GWtoHVJD9eE8InctiQxX1nvpwzluenAV3D6uuiJbKGpz/mDR4ymxPc6991rh8e
      g5uZHBNTq9JtxeoXNwMoMEGbongEMG4tvj0ufQIDAQABAoIBADhBaMiQt+j7B97g
      y2eYo0vQGoR/OAYVNLp48x0gZ3UcU92W2OP7Ts2kpM/Mvh0q7OC0msJ4Qul+Grsm
      WGalepK81MaLRkUL2ruMQAghxN8n/g476Nhe8+ayK4V93xCpz1kX6sAsQxz5fUvi
      2h8GAwcnkC+LKpTrTskgxPAZ63YIlMjkiHnuRIrDenqEzLHxWUr9IZUhzzadvsFs
      g+ovaXfRsgzRM7HXgVd50vQzZGY996iM2uTTAshKPEm+ZZ5sXtJrH79UlRrA1/rS
      c+NhmiS3AzVglsnUO+ruH1lts09wXXTZUtzIqtqAv29Cd7+hB/oeWaJCtMAWo/zm
      Lhp/bS0CgYEA5fi+jiAQoN+irB1eIxo2Ux388ZnirSjo9IXpHjlPJYDWg7engmH/
      M49iVi5UolntMkDvumzJ3TiCEqDE6m50Ruy5aJVO7ny8nKpQs/t0Lb26KDCtaH1N
      FdTgGguQOLflwsHOsLXRY+hTlsVMnqj74/NoYKt5EWgI1Pw0D1Udh7sCgYEAzZB9
      BOMD242E4gxQZDRZS4bcHzk28f+alhjD8YYh8qTnHlzJcKIdzeH5Yhr+gyijX43f
      xrOd+p0OBhaORUTuTuo9cQOK2pAATZJAAQpHUyMCn8qHbh6F/hilxkwu1k+zoCk/
      zUqLoEsATLeEUk+bif4+bCnumMjL/gKdZyTF8ycCgYAnYN6QS6FNSr36JtU1wYlH
      1jy3yhfserLZHAz85edNjrAswcfnJYyjcYvvIePQIQHitwfVrkcqoEB1nB3b3qn+
      cw6Uf+ySHb3WPbuv9gDAzFoSA7PNzpbihB8TlqNNcv/ex3zy+U8vglq92G70RA9N
      yyI2W2ZRurS4c68eaP6zfQKBgEbLHeMS838nK75Vk1IPHTl/hktSfvO0nV5XxRNm
      qEZSOC4islUR38XJrwL0XPZ6hlkgGRLrRNrMP8ok9nYwmQmgbex/1dATi6crWNOC
      4LFm+z5gl2d7J5YsktrJ3c98v1XHHuvqYk+fxMim4vEd7WkGoCTMBBml/WrLJ74f
      0fQ9AoGBAMsbxJ0CByl7IfNJD3Atk6T8FG6v6dLM+7jzVKbK+a1EqegSipeh6Nvf
      s17TYtHmzL3UMt4Ecu8+ej9Io77ApX08U62x7SafBu2XLPov0vLL2chYUtf2bHmM
      uoh/RbSbRq2GEfvQTJzSkTwEyme55adhSEfTEmPMIuT0uLbq+E0Z
      -----END RSA PRIVATE KEY-----