files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID5jCCAs4CCQDb+gaQ/PqWUjANBgkqhkiG9w0BAQsFADCBtDELMAkGA1UEBhMC
      VVMxETAPBgNVBAgMCElsbGlub2lzMRAwDgYDVQQHDAdDaGljYWdvMRMwEQYDVQQK
      DApHcmFtcnBob25lMQwwCgYDVQQLDANFbmcxNDAyBgNVBAMMK29ncmFtcnBob25l
      LnVzLXdlc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbSAxJzAlBgkqhkiG9w0BCQEW
      GGdyYWhhbXRhbGxlbjk0QGdtYWlsLmNvbTAeFw0xOTA0MTEwMTU1MjZaFw0yMDA0
      MTAwMTU1MjZaMIG0MQswCQYDVQQGEwJVUzERMA8GA1UECAwISWxsaW5vaXMxEDAO
      BgNVBAcMB0NoaWNhZ28xEzARBgNVBAoMCkdyYW1ycGhvbmUxDDAKBgNVBAsMA0Vu
      ZzE0MDIGA1UEAwwrb2dyYW1ycGhvbmUudXMtd2VzdC0yLmVsYXN0aWNiZWFuc3Rh
      bGsuY29tIDEnMCUGCSqGSIb3DQEJARYYZ3JhaGFtdGFsbGVuOTRAZ21haWwuY29t
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4hftZ4TEZX3X7hKraiMB
      OfQKEek2oD/+n+hZqcJGuIqte+Q2Q0tUpRT5pNRc9xoGHaZ3HX/w0WocdOh9063L
      BFauzMkLvauM6oCkYPHo5rBpKObQQdXCFoiuVhGrOO9abbdigkE+2caadjJodlL4
      uk41qiYtWk8gOUA2PmhFv4ykPjgNENzJ/KksCg9TpXXGS0QnmMmg6Zk72QVGp6+A
      XkjAXInc8l9MXKu38zakxI4y0gH7KBDCNOQLWWkwxZXZ+AqaBvGm00R+6RElaXuV
      bf9nS34WWKnopddnfhkHst18nNi72vaRr835mfOYGlOLCNX/neIR8FJbYTwZUjjr
      7QIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCZmuObXShr4iGLyD7jx/ofE9U7ut4j
      s+4MxEFLOfwPAP6Nn+PDPkwWCP61yHk+9yLgYp5LMnYtylRbc0TeVZ/c88v3xyGw
      3T6eSOdCbwzemRuXjDbHxETM0i+MkbVQVQnRi+pOp5kXYq2xDXhjYghEm2bJurjZ
      LPTwQg4UuZ3z92Dy0HmwJgyvTw2cOBMp+swi+ary1iQgDR6LKdETPUAKLgwMdB5e
      JlqZ/P17Wg5MN3MQZ3qO87BT8/37TmsuUWbLVvvFazuQHHvstRi3fzqgMe/haQME
      1fW8TNz21p0msR68PLMlLh9uGPkgK5YSz8f/oDESd/3fHTdVaCVjO9As
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA4hftZ4TEZX3X7hKraiMBOfQKEek2oD/+n+hZqcJGuIqte+Q2
      Q0tUpRT5pNRc9xoGHaZ3HX/w0WocdOh9063LBFauzMkLvauM6oCkYPHo5rBpKObQ
      QdXCFoiuVhGrOO9abbdigkE+2caadjJodlL4uk41qiYtWk8gOUA2PmhFv4ykPjgN
      ENzJ/KksCg9TpXXGS0QnmMmg6Zk72QVGp6+AXkjAXInc8l9MXKu38zakxI4y0gH7
      KBDCNOQLWWkwxZXZ+AqaBvGm00R+6RElaXuVbf9nS34WWKnopddnfhkHst18nNi7
      2vaRr835mfOYGlOLCNX/neIR8FJbYTwZUjjr7QIDAQABAoIBAQDQSQi9YBNqCFff
      jDV8LslXcVnBjF51nN7ew7euazqpkaAmzWOr9P8CoeMmFTmbrs7Ji+yaMZ5R3fZf
      QTuBwc6QraaVI/V8A0lrU52bbeCIfSYztwdOTzVhewNYaSia5+4fu1y18JONHqh3
      kRKpRuC7CYfouwj29IQUGfKe5YKz5YqorGuiZ6G1p8+0GelJ4Pc5IRx40hylxan9
      L3dxn7HMAYsT2EDN5RChaV1hE3zEqnjcspScTIgrHwSnF3ZLDNriPigm5ts8yJ5z
      lVv+xowZBHr16zeWN/3Zp6e4OvUpqANPF+Fp3MxuleCgVAH4hTUkzOsgi+VG/DSn
      HzqG30LFAoGBAPSFut7AUPzpSRrO4F7jw6dwPSwiWQD1Z/DlJZHRujss2/W90Rmx
      g88MuYdbAiLefEj1jBAlGM6W6/362/5N1DUnF6plDvWZLXLlwJ2OXhV+KAMHE1Ix
      dC/lw5k62Ofbm7n1M/5yZAHMzKkbqqyPAiDlHbdaEvKCgrh4igYACybTAoGBAOy0
      v7MHP90ME2L6SybKnbMPylzA6FGHPGYXH+mc3AOabDkTHfsvS5A2gmLSWd9WreTt
      3EHhYJr8gcPpiQPDsnkIJsmRckSYa+4HphlZIFzGaIQC/ZRut8EqDuPIMrCbIW3j
      pkf5VLN23wGgFsh5zi29A6j20OibvQ630MNWnWo/AoGAVIu4pTRRzGDNChvlsGmI
      SOih/hSSOaagncZdSyH9BmDoXPuYxQ1/yaNYsthg0LWku4VLPHnXLfc4+cQ3NKKs
      cQRnRl9S4NBpyoRuKQwEs+G+6+0SXSUES1tiWiTiwqhIG/AQXjYnJggt63rJdIit
      77nIoJDgZEGD+UyUTKbPNEkCgYACcfeM/OUu/mHw4s8F7o/keqRHgwKjXPdFwrVk
      r2cibmTxzf3AS4PHUJjWNoARK48OT1q4H4Dk+PjKMk5lCI9+apQj/umkRcLPqaqQ
      lngcHTyVKIbAEsi5KRsQRVAovOGChhiAo9W5KOAy3xl9Jqz3kf1IsIwF6x3v2fxB
      GFL19wKBgQDvCO9Jqc7sTl+UjQNJl6W+lnYlkPJSj0kQ/D7Q1TWqfW9GwugEsNCM
      65x49yWavl002KBJ0vlY8ReY1lBSRNz5jeaYsxxS2U6uB44oWivSGI3ScQCy1Kub
      Db4GrSrohaKQc0fnNnZaF2GpmoZBTTVw7a1AptmfUDz+Zlad+OqQRw==
      -----END RSA PRIVATE KEY-----